<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">Access-Control-Allow-Origin: *<dom-module id="consulta-banxico">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div>
        <img src="/../../images/bbva/bbvauser.png" alt= "BBVA" width="30" height="30" on-load="consulta">
        Bienvenido: [[correo]]

      </div>
      <div >
        <ul class="pagination">
          <li><a href="alta.html">Alta Movimientos</a></a></li>
          <li><a href="consulta.html">Consulta Movimientos</a></li>
          <li class="active"><a href="banxico.html">Consulta Banxico</a></li>
          <li><a href="index.html">Salir</a></li>

        </ul>
      </div>
    </div>

    <div class="container">
      <div class="text-center">
          <h1>Consulta de Series Banxico</h1>
      </div>
      <br>
      <div class="row">
        <div class=col-sm-4>
          <input class="form-control" placeholder="Series a Consultar" value="{{serie::input}}" type="text">
        </div>
        <div class=col-sm-4>
            <input class="form-control" placeholder="token" value="{{token::input}}" type="text">
        </div>
        <div class=col-sm-4>
          <button on-click="obtenerBanxico" type="button" name="button" class="btn btn-primary">Obtener Consulta </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class=col-sm-1>

        </div>
        <div class="col-sm-8">
              <table class="table table-bordered">
                <thead hidden$="{{!logado}}">
                  <tr>
                    <th>ID de Serie</th>
                    <th>Titulo</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Periodicidad</th>
                    <th>Cifra</th>
                    <th>Unidad</th>
                  </tr>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{bancos.bmx.series}}">
                    <tr>
                      <td>
                        [[item.idSerie]]
                      </td>
                      <td>
                        [[item.titulo]]
                      </td>
                      <td>
                        [[item.fechaInicio]]
                      </td>

                        <td>
                          [[item.fechaFin]]
                        </td>
                        <td>
                          [[item.periodicidad]]
                        </td>
                        <td>
                          [[item.cifra]]
                        </td>
                        <td>
                          [[item.unidad]]
                        </td>
                    </tr>
                  </template>
                </tbody>
              </table>
        </div>
        <div class=col-sm-1>
        </div>
      </div>


      <iron-ajax
        id="doLogin"
        url="http://localhost:3002/Banxico"
        content-type="application/json"
        crossDomain:true
        dataType:'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponse"
        on-error="showError"></iron-ajax>
   </template>
   <script>
    /**
     * @customElement
     * @polymer
     */
     class ConsultaBanxico extends Polymer.Element {
       static get is() { return 'consulta-banxico'; }
       static get properties() {
         return {
           serie: {
             type: String
           },
           token: {
             type: String
           },
           banco: {
             type:Array
           },logado: {
             type: Boolean,
             value: false
           }
         };
       }
       consulta(){
         var session = sessionStorage.getItem("usuarioSession");
        var correo = JSON.parse(session).email;

        this.correo = correo;

       }

       obtenerBanxico() {
         var loginData = {
           "serie":this.serie,
           "token":this.token
         };
         console.log(loginData);
         this.$.doLogin.body = JSON.stringify(loginData);
         this.$.doLogin.generateRequest();
         console.log("Petición enviada");
       }

       manageAJAXResponse(data) {

         console.log("Respuesta recibida del servidor");
         console.log(data.detail.response);
         this.logado = true;
         this.bancos = (data.detail.response);
         console.table(this.bancos);

       }

        showError(error) {
         console.log("Ocurrio un error");
         alert("Datos ingresados incorrectos, por favor valide");
         console.log(error);
       }

     }
       window.customElements.define(ConsultaBanxico.is, ConsultaBanxico);
    </script>
</dom-module>
