<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">Access-Control-Allow-Origin: *<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">

      <div  class="text-center" hidden$={{logado}}>
          <h1>Bienvenido al Proyecto Final Practitioner 4 edicion </h1>
          <br>
      </div>

      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
        <h2>Ingresa tus Datos</h2>
        </div>
      </div>
      <br>
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
        <input  type="email" placeholder="Email" value="{{email::input}}">
        </div>
      </div>
      <br>
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
        <input type="password"  placeholder="Password" value="{{password::input}}">
        </div>
      </div>
      <br>
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-1>
          <div class="btn btn-primary" hidden$={{logado}}>
                  <a on-click="login" ><small>Login</small></a>
          </div>
        </div>
        <div class=col-sm-4>
          <div class="btn btn-info" hidden$={{logado}}>
                  <a href="registrar.html" ><small>Registrarse</small></a>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>  </template>  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }

      login() {
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
        var email = this.email;
        var usuario = {email};
        localStorage.setItem("usuarioLocal",JSON.stringify(usuario));
        sessionStorage.setItem("usuarioSession",JSON.stringify(usuario));

      }

      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado = true;
        window.location.href = "portal.html";

      }      showError(error) {
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, por favor valide");
        console.log(error);
      }    }    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
