<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">Access-Control-Allow-Origin: *<dom-module id="registrar-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
          <h1>Registro de Usuario</h1>
        </div>
      </div>
      <br>
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
           <input type="text"  placeholder="Nombre" value="{{nombre::input}}" required>
        </div>
      </div>
<br>
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
          <input type="text" placeholder="Apellido" value="{{apellido::input}}" required>
        </div>
      </div>
<br>
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
         <input type="email" placeholder="Email" value="{{email::input}}" required>
        </div>
      </div>
<br>
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
         <input type="password" placeholder="Password" value="{{password::input}}" required>
        </div>
      </div>
<br>
      <div class="row" hidden$={{logado}}>
        <div class=col-sm-4>
        </div>
        <div class=col-sm-1>
          <div class="btn btn-primary" hidden$={{logado}}>
                  <a on-click=registro><small>Registro</small></a>
          </div>
        </div>
        <div class=col-sm-4>
          <div class="btn btn-info" hidden$={{logado}}>
                  <a href="index.html" ><small>Cancelar</small></a>
          </div>
        </div>
      </div>

    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Registrar"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>  </template>  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistrarApp extends Polymer.Element {
      static get is() { return 'registrar-app'; }
      static get properties() {
        return {
          nombre:{
            type: String
          },
          apellido:{
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      registro() {
        var loginData = {
          "nombre":this.nombre,
          "apellido":this.apellido,
          "email":this.email,
          "password":this.password
        };

        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado = true;
          alert("Usuario Registrado Correctamente");
          window.location.href = "index.html";
      }      showError(error) {
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, por favor valide");
        console.log(error);
      }    }    window.customElements.define(RegistrarApp.is, RegistrarApp);
  </script>
</dom-module>
