<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class = "container" style="background-color:#072146;" >
      <img src="https://www.bbva.mx/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" alt= "BBVA" width="152" height="118" >
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {

      }

    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
