<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">Access-Control-Allow-Origin: *<dom-module id="alta-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div  >
        <img src="/../../images/bbva/bbvauser.png" alt= "BBVA" width="30" height="30" on-load="consulta" >
        bienvenido: [[correo]]

      </div>

      <div >
        <ul class="pagination">
          <li class="active"><a href="alta.html">Alta Movimientos</a></a></li>
          <li><a href="consulta.html">Consulta Movimientos</a></li>
          <li><a href="banxico.html">Consulta Banxico</a></li>
          <li><a href="index.html">Salir</a></li>

        </ul>
      </div>
    </div>

    <div class="container">
          <div class="text-center">
            <br>
            <h1>Alta de movimientos</h1>
          </div>
            <br >
          <div class="row">
            <div class=col-sm-4>
            </div>
            <div class=col-sm-4>
                <input class="form-control" placeholder="Cuenta" value="{{cuenta::input}}" type="text">
            </div>
          </div>
          <br>
          <div class="row">
            <div class=col-sm-4>
            </div>
            <div class=col-sm-4>
              <input class="form-control" placeholder="Nombre" value="{{nombre::input}}" type="text">
            </div>
          </div>
          <br>
          <div class="row">
            <div class=col-sm-4>
            </div>
            <div class=col-sm-4>
                <input class="form-control" placeholder="Apellido" value="{{apellido::input}}" type="text">
            </div>
          </div>
            <br>
          <div class="row">
            <div class=col-sm-4>
            </div>
            <div class=col-sm-4>
                <input class="form-control" placeholder="Importe" value="{{importe::input}}" type="text">
            </div>
          </div>
          <br>
              <div class="text-center">
                <button on-click="guardar" type="button" class="btn btn-info mt-4">Guardar</button>
              </div>


      </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Clientes"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
   </template>
   <script>
    /**
     * @customElement
     * @polymer
     */
     class AltaApp extends Polymer.Element {
       static get is() { return 'alta-app'; }
       static get properties() {
         return {
           cuenta: {
             type: String
           },
           nombre: {
             type: String
           },
           apellido: {
             type: String
           },
           importe: {
             type: String
           },
           email: {
             type: String
           }
         };
       }
       consulta(){
         var session = sessionStorage.getItem("usuarioSession");
    //var usuario = localStorage.getItem("UsuarioLS");

    //    alert("session: "+session);
    //  txtNombre.value = local;
        var correo = JSON.parse(session).email;
    //    alert("correo:" +correo);
        this.correo = correo;
    //  txtDni.value = JSON.parse(usuario).dni;
    //  alert("Dni de usuario:" +JSON.parse(usuario).dni);
       }

       guardar() {
         var loginData = {
           "cuenta":this.cuenta,
           "nombre":this.nombre,
           "apellido":this.apellido,
           "importe":this.importe
         };
         console.log(loginData);
         this.$.doLogin.body = JSON.stringify(loginData);
         this.$.doLogin.generateRequest();
         console.log("Petición enviada");
       }

       manageAJAXResponse(data) {
         console.log("Respuesta recibida del servidor");
         console.log(data.detail.response);
         this.logado = true;
         alert("Datos Almacenados Correctamente");

         window.location.href = "alta.html";
       }      showError(error) {
         console.log("Ocurrio un error");
         alert("Error en la conexion, por favor valide");
         console.log(error);
       }
     }
       window.customElements.define(AltaApp.is, AltaApp);
    </script>
</dom-module>
