<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">Access-Control-Allow-Origin: *<dom-module id="consulta-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div>
        <img src="/../../images/bbva/bbvauser.png" alt= "BBVA" width="30" height="30" on-load="consulta" >
        bienvenido: [[correo]]

      </div>
      <div >
        <ul class="pagination">
          <li><a href="alta.html">Alta Movimientos</a></a></li>
          <li class="active"><a href="consulta.html">Consulta Movimientos</a></li>
          <li><a href="banxico.html">Consulta Banxico</a></li>
          <li><a href="index.html">Salir</a></li>

        </ul>
      </div>
    </div>

    <div class="container">
      <div class="text-center">
          <h1>Consulta de Movimientos</h1>
      </div>
      <br>
      <div class="row">
        <div class=col-sm-4>
        </div>
        <div class=col-sm-4>
          <button on-click="obtenerClientes" type="button" name="button" class="btn btn-primary">Obtener Movimientos</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class=col-sm-1>
        </div>
        <div class="col-sm-8">
              <table class="table table-bordered">
                <thead hidden$="{{!logado}}">
                  <tr>
                    <th>Cuenta</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Importe</th>
                  </tr>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{clientes}}">
                    <tr>
                      <td>
                        [[item.cuenta]]
                      </td>
                      <td>
                        [[item.nombre]]
                      </td>
                      <td>
                        [[item.apellido]]
                      </td>

                        <td>
                          [[item.importe]]
                        </td>
                    </tr>
                  </template>
                </tbody>
              </table>
        </div>
        <div class=col-sm-1>
        </div>
      </div>


    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Clientes"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
   </template>
   <script>
    /**
     * @customElement
     * @polymer
     */
     class ConsultaApp extends Polymer.Element {
       static get is() { return 'consulta-app'; }
       static get properties() {
         return {
           clientes: {
             type: Array,
             notify: true
           },
           correo: {
             type: String
           },logado: {
             type: Boolean,
             value: false
           }
         };
       }
       consulta(){
         var session = sessionStorage.getItem("usuarioSession");
    //var usuario = localStorage.getItem("UsuarioLS");

      //  alert("session: "+session);
   //  txtNombre.value = local;
        var correo = JSON.parse(session).email;
      //  alert("correo:" +correo);
        this.correo = correo;
   //  txtDni.value = JSON.parse(usuario).dni;
   //  alert("Dni de usuario:" +JSON.parse(usuario).dni);
       }

       obtenerClientes() {
         var request = new XMLHttpRequest();
         //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
         request.open("GET", "http://localhost:3002/Clientes", false);
         request.setRequestHeader("Accept", "application/json");
         request.send();
         this.clientes = JSON.parse(request.responseText);
         this.logado = true;
         //console.table(this.clientes);
       }
     }
       window.customElements.define(ConsultaApp.is, ConsultaApp);
    </script>
</dom-module>
