<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">Access-Control-Allow-Origin: *<dom-module id="portal-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
    </style>


    <div class="container">
      <div  >
        <img src="/../../images/bbva/bbvauser.png" alt= "BBVA" width="30" height="30" on-load="consulta" >
        bienvenido: [[correo]]

      </div>

      <div >
        <ul class="pagination">
          <li><a href="alta.html">Alta Movimientos</a></a></li>
          <li><a href="consulta.html">Consulta Movimientos</a></li>
          <li><a href="banxico.html">Consulta Banxico</a></li>
          <li><a href="index.html">Salir</a></li>

        </ul>
      </div>
    </div>

   </template>
   <script>
    /**
     * @customElement
     * @polymer
     */
     class PortalApp extends Polymer.Element {
       static get is() { return 'portal-app'; }
       static get properties() {
         return {
           correo: {
             type: String
           },
           logado: {
             type: Boolean,
             value: false
           }
         };
       }

       consulta(){
         var session = sessionStorage.getItem("usuarioSession");
    //var usuario = localStorage.getItem("UsuarioLS");

      //  alert("session: "+session);
   //  txtNombre.value = local;
        var correo = JSON.parse(session).email;
  //      alert("correo:" +correo);
        this.correo = correo;
   //  txtDni.value = JSON.parse(usuario).dni;
   //  alert("Dni de usuario:" +JSON.parse(usuario).dni);
       }
   }

       window.customElements.define(PortalApp.is, PortalApp);
    </script>
</dom-module>
